
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 10px;
    margin-top: 20px;
}

footer .footer-container {
    max-width: 1200px;
    margin: auto;
}

footer h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

footer p {
    margin: 5px 0;
    font-size: 16px;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    font-size: 1em; 
}

header {
    background-image: url('https://www.shutterstock.com/image-vector/fast-food-related-icon-crayon-260nw-2537378393.jpg');
    color: #000000;
    padding: 6em ;
    text-align: center;
    position: relative;
    background-size: cover;
    
}


header h1 {
    font-size: 4em;
}

nav {
    background-color: #444;
    padding: 0.5em;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 1em;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
}

nav a:hover {
    color: #ff0;
}

.auth {
    position: absolute;
    top: 1em;
    right: 2em;
}

.auth button {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    margin-left: 0.5em;
    border-radius: 0.25em;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    transition: background-color 0.3s;
}

.auth button:hover {
    background-color: #e67e22;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 2em;
    justify-content: space-around;
    background-image: url('https://png.pngtree.com/thumb_back/fh260/back_our/20190619/ourmid/pngtree-food-overlooking-the-background-banner-image_138613.jpg');
    text-align: center;
    position: relative;
    background-size: cover;
}

.product {
    background-color: #fff;
    border: 0.1em solid #ddd;
    border-radius: 0.5em;
    width: 12.5em;
    margin: 1em;
    text-align: center;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

.product:hover {
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
}

.product img {
    width: 100%;
    height: auto;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.product h2 {
    font-size: 1.2em;
    color: #333;
    padding: 0.5em;
}

.product p {
    color: #888;
    font-size: 0.9em;
    padding: 0.5em;
}

.product .price {
    font-size: 1.2em;
    color: #e67e22;
    font-weight: bold;
    padding: 0.5em;
}

.product button {
    background-color: #e67e22;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    border-radius: 0.25em;
    cursor: pointer;
    margin-bottom: 1em;
    font-size: 1em;
}

.product button:hover {
    background-color: #d35400;
}